{% extends "base.html" %}

{% block userProfileBlock %}
  <span style="font-size:16px;cursor:pointer;position:relative;color:#fff;text-shadow: 2px 2px 4px #000000;margin-top:15px;float:right;" onclick="openNav()"><i class="fa fa-user"  style="color:#fff;text-shadow: 2px 2px 4px #000000;" aria-hidden="true"></i> User Profile</span>
{% endblock %}

{% block content %}
<style>

/********************************************************************************/
</style>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h2 style="text-align:center;color:#D9E2D5;">User Profile</h2>
  <!--profile box-->
  <div class="card">
    {% if flag %}
     <img src="{{allprophoto.profilephoto.url}}" alt="" style="height:150px;width:150px;border-radius:50%;">
    {% else %}
    <a href="{% url 'accounts:proPic' %}"><img src="/static/images/uploadphoto.png" alt="" style="height:150px;width:150px;border-radius:50%;"></a>
    {% endif %}
      <h1 style="color:#EAEFE8;">{{user.username}}</h1>
      <p class="title">{{user.email}}</p>
      <div style="margin: 24px 0;">
      <a href="https://mail.google.com" style="margin-left:-15px;"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
  </div>

  </div>
 <!--end profile box-->
</div>


<!--side nav ends---->

<div class="container-fluid">
<div class="row">
<!--col1-->
<div class="col-sm-12" style="padding-left:70px;padding-top:30px;">
<center><div id="camera1">
  <table><tr><td valign=top>


		<!-- First, include the JPEGCam JavaScript Library -->
		<script type="text/javascript" src="/static/jpegcam/webcam.js"></script>

    <br/><form>
		<!-- Configure a few settings -->
		<script language="JavaScript">
			webcam.set_api_url( '/user/' );
			webcam.set_quality( 90 ); // JPEG quality (1 - 100)
			webcam.set_shutter_sound( true ); // play shutter click sound
		</script>

		<!-- Next, write the movie to the page at 320x240 -->
		<script language="JavaScript">
			document.write( webcam.get_html(500, 400) );
		</script>

		<!-- Some buttons for controlling things -->

			{# <input type=button value="Configure..." onClick="webcam.configure()">#}
    <br/>
			<center><input type=button value="TAKE SNAPSHOT" onClick="take_snapshot()" style="margin-top:20px;"></center>
		</form>

		<!-- Code to handle the server response (see test.php) -->
		<script language="JavaScript">
			webcam.set_hook( 'onComplete', 'my_completion_handler' );

			function take_snapshot() {
				// take snapshot and upload to server
				//document.getElementById('upload_results').innerHTML = '<h1>Uploading...</h1>';
          document.getElementById('upload_results').innerHTML = '<div class="loader"></div>';
        webcam.snap();
			}

			function my_completion_handler(msg) {
				if (msg.match(/(http\:\/\/\S+)/)) {
					var image_url = RegExp.$1;
					// show JPEG image in page
	     window.location.href = "http://127.0.0.1:8000/emotion/";
					document.getElementById('upload_results').innerHTML =
						'<div class="loader"></div>';
					// reset camera for another shot
					webcam.reset();
				}
				else alert("Python Error: " + msg);
			}
		</script>

		</td><td width=50>&nbsp;</td><td valign=top>
			<div id="upload_results" style="background-color:#eee;"></div>
		</td></tr></table>

 </div></center>
</div><!--end of col1-->


</div><!--end of row--->
</div><!--end of container fluid-->

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
	{% endblock %}
